/* GENERAL POUET */

.nul
{
   grid: initial;
}
section
{
    display: none;
}
.button
{
    display: flex;
    justify-content: space-around;
}
body
{
    background-color:rgb(0, 0, 0);
    font-family: 'Merriweather', serif;
    background-image: url(back.jpg);

}
h1
{
    color:  #dd0808;
    text-transform: uppercase;
    font-size: 100px;
    text-shadow: 4px 4px 4px rgb(255, 17, 0);
    letter-spacing: 6px;
}
nav
{
    display: flex;
    justify-content: space-around;
}
a
{
    background: #086bad;
    /* border:2px solid  #000;
    border-radius: 10px; */

    width: 10%;
    height: 10%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    justify-content: space-around;
}
.head_grid
{
    background: #086bad;
    border:2px solid  #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #086bad;
    width: 10%;
    height: 10%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    justify-content: space-around; 
}
.the-grid
{
    color:  #dd0808;
    text-transform: uppercase;
    font-size: 150px;
    letter-spacing: 6px;
    font-family: 'Snowburst One', cursive;  
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px outset black;
    border-radius: 10px 10px 10px 10px ;
    box-shadow: 10px 5px 5px rgb(8, 0, 0);
}
button 
{
    display: block;
    width:85px;
	height:85px;
	background:#086bad;
    box-shadow: 0px 0px 10px 2px #086bad;
	font:bold 13px Arial;
	border-radius:50%;
	color:#086bad;
    margin: auto;
    color:rgb(255, 254, 254);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-decoration:none;
}
h2
{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
.parent
{
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
.grid
{
    width: 400px;
    height: 300px;
    background:  #7f9eb2;
}
.flex
{
    width: 400px;
    height: 300px;
    background:  #7f9eb2;
}
.box
{
    width: 50px;
    height: 50px;
    border: solid 1px;
    border-radius: 5px;
}
.chef
{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
.forme
{
    width: 500px;
    height: 500px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 2px #086bad;
    background: #086bad;
}
    .column-left {
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    box-shadow: 10px 5px 5px rgb(8, 0, 0);
    border-radius: 10px;
    background: #a5d296;
}
.css
{
    width: 500px;
    height: 500px;
    border: solid 1px;
    box-shadow: 0px 0px 20px 2px #086bad;
    border-radius: 10px;
    background: #086bad;
}
h3
{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
h4
{
    text-align: center;
    font-size: 15px;   
}
p
{
    text-align: center;
    font-size: 40px;
}

/* HOMEPAGE */

.forme_home
{
    width: 250px;
    height: 250px;
    border: solid 1px;
    box-shadow: 0px 0px 20px 2px #086bad;
    border-radius: 50%;
    /* background: #086bad; */
    background: url(../img/source.gif) no-repeat;
    background-size: cover;
}
.css_home
{
    width: 250px;
    height: 250px;
    border: solid 1px;
    box-shadow: 0px 0px 20px 2px #086bad;
    border-radius: 50%;
    /* background: #086bad; */
    background: url(../img/muscle-flex-gif.gif)no-repeat;
    background-size: cover;
}




/* FLEX */
/* general */

.flex_basique
{
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
}

/*justify-content*/
.ju-flex-start
{
    display: flex;
    justify-content: flex-start;
}
.ju-flex-end
{
    display: flex;
    justify-content: flex-end;
}

.ju-center
{
    display: flex;
    justify-content: center;
}

.ju-space-between
{
    display: flex;
    justify-content: space-between;
}

.ju-space-around
{
    display: flex;
    justify-content: space-around;
}

.ju-stretch
{
    display: flex;
    justify-content: stretch ;
}

/*Align-items*/

.al-flex-start	
{
    display: flex;
    align-items: flex-start;
}

.al-flex-end
{
    display: flex;
    align-items: flex-end;
}

.al-center
{
    display: flex;
    align-items: center;
}

.al-baseline
{
    display: flex;
    align-items: baseline;
}

/*Flex-direction*/

.fl-row
{
    display: flex;
    flex-direction: row;
}
.fl-row-reverse
{
    display: flex;
    flex-direction: row-reverse;
}
.fl-column
{
    display:flex;
    flex-direction: column;
}
.fl-column-reverse
{
    display: flex;
    flex-direction: column-reverse;
}
.order
{
    display: flex;
}
.boxe
{
    width: 50px;
    height: 50px;
    border: solid 1px;
    border-radius: 5px;
    order: 3;
}
.nowrap
{
display: flex;
flex-wrap: nowrap;
}
.wrap
{
display: flex;
flex-wrap: wrap;
}
.wrap-reverse
{
display: flex;
flex-wrap: wrap-reverse;
}
.flex-flow
{
display: flex;
flex-flow: row wrap;
}


/* GRID */

/* general grid */

.nos-boxs2
{
    display: grid;
    grid-template-columns:50px 50px 50px 50px;
    grid-template-rows:50px 50px 50px 50px;
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 20px 2px #000;
}
.nos-boxs2 div
{
    border: 1px solid rgb(153, 187, 3);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.2em;
    color: rgb(153, 187, 3);
    font-size: 15px;
    text-align: center;
    
}
.div_gride
{
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px #000;
    background: #97970c;  
}

/*grid-template-columns*/

.grid_temp_col
{
    display: grid;
    grid-template-columns:25% 50% 25%;
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 20px 2px #000;
}

/*grid-template-columns*/

.grid_temp_row
{
    display: grid;
    grid-template-columns:25% 25% 25%;
    grid-template-rows:25% 50% 25%;
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 20px 2px #000;  
}

/*grid-column-gap*/

.grid-col-gap
{
    display: grid;
    grid-template-columns:50px 50px 50px;
    grid-template-rows:50px 50px 50px;
    grid-column-gap: 25px;
}

/* grid-row-gap*/

.grid-ro-gap
{
    display: grid;
    grid-template-columns:50px 50px 50px;
    grid-template-rows:50px 50px 50px;
    grid-row-gap: 25px  ;
}

/*grid-gap*/

.grid_gap
{
    display: grid;
    grid-template-columns:50px 50px 50px;
    grid-template-rows:50px 50px 50px;
    grid-gap: 25px;
}

/* grid-column-start */

.boite1
{
    display: grid;
    grid-template-columns:50px 50px 50px;
    grid-template-rows:50px 50px 50px;
    grid-column-start: 2;
}


/* grid-column-end */

.boite5
{
    display: grid;
    grid-template-columns:50px 50px 50px;
    grid-template-rows:50px 50px 50px;
    grid-column-end: 3;
}

/* grid-column */

.boite9
{
    display: grid;
    grid-template-columns:50px 50px 50px 50px;
    grid-template-rows:50px 50px 50px 50px;
    grid-column: 1/3;
}

/* grid-row-start */

.boite13
{
    display: grid;
    grid-template-columns:50px 50px 50px 50px;
    grid-template-rows:50px 50px 50px 50px;
    grid-row-start: 4;
}

/* grid-row-END */

.boite17
{
    display: grid;
    grid-template-columns:50px 50px 50px 50px;
    grid-template-rows:50px 50px 50px 50px;
    grid-row-end: 4;
}


/* grid-row */

.boite21
{
    display: grid;
    grid-template-columns:50px 50px 50px 50px;
    grid-template-rows:50px 50px 50px 50px;
    grid-row: 1/5;                                                    
}


/* grid-area */

.boite25
{
    display: grid;
    grid-template-columns:50px 50px 50px 50px;
    grid-template-rows:50px 50px 50px 50px;
    grid-area: 5/ 1 / 2 / 4;                                    
}
/*effacer moi*/